header {
  background-image: url('../images/attend2.jpg');
  height: 50vh;

}

h1 a {
  color: #323232;
}

section {
  text-align: left;
}

h4 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 21px;
}

p {
  font-size: 18px;
}

a {
  font-size: 18px;
}
