header{
background-image: url('../images/attend3.jpg');
height: 40vh;

}

input{
   border: 2px solid grey;
 margin: 20px;
}

h1 {
  font-size: 30px;
}

h2 {
   margin: 0px;

p{
 margin: 0px;
 text-size:
}


ul {
  padding-top: 0px;
  font-size: 25px;
  line-height: 1.4;
  font-weight: bold;
}
